@import 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFF;
}

p {
  font-family: $roboto-regular;
}

h1 {
  font-family: $roboto-bold;
}

h3 {
  font-family: $roboto-medium;
}

h2 {
  font-family: $roboto-medium;
  letter-spacing: -0.05em;
}

h4 {
  font-family: $roboto-bold;
  font-size: 14px;
}

.thin {
  font-family: $roboto-thin;
}

.light {
  font-family: $roboto-light;
}

.section_col {
  position: relative;
  width: 25vw;
  padding: 8rem 4 rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.section_col.active {
  width: 50vw;
  transition: opacity 1.2s ease;
  transform-origin: left;

}

.section_col.active , .section_col_data {
  opacity: 1;
  transition: opacity 1.2s ease;
}

.section_col_data {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}


